<body>
  <div class="search-container">
    <h1 class="title">Grupo 9 Shop</h1>
    <table>
      <tr>
        <td><input type="checkbox" [(ngModel)]="isCheckedSector"></td>
        <td class="text">Sector:</td>
        <td>
          <select [(ngModel)]="selectedSector">
            <!-- <option value="">Todos</option> -->
            <option *ngFor="let sector of sectores" [ngValue]="sector">{{sector.desc_sector}}</option>
          </select>
        </td>
      </tr>
      <tr>
        <td><input type="checkbox" [(ngModel)]="isCheckedRepositor"></td>
        <td class="text">Repositor:</td>
        <td>
          <select [(ngModel)]="selectedRepositor">
            <!-- <option value="" *ngIf="!isCheckedRepositor" selected>Todos</option> -->
            <option *ngFor="let repositor of repositores" [ngValue]="repositor">{{repositor.nombre}}</option>
          </select>
        </td>
      </tr>
    </table>
    <div class="button-container">
      <button class="buscar" (click)="buscar()">Buscar</button>
      <button class="cancelar" (click)="cancelar()">Cancelar</button>
    </div>
  </div>
  <div class="search-results">
    <app-search-results-table *ngIf="mostrarResultados" [productos]="productos"/>
  </div>
</body>
