<body>
  <div class="search-container">
    <h1 class="title">Grupo 9 Shop</h1>
    <table>
      <tr>
        <td><input type="checkbox"></td>
        <td class="text">Sector:</td>
        <td>
          <select>
            <option value="" *ngFor="let sector of sectores" selected>{{sector.desc_sector}}</option>
          </select>
        </td>
      </tr>
      <tr>
        <td><input type="checkbox"></td>
        <td class="text">Repositor:</td>
        <td>
          <select>
            <option value="" *ngFor="let repositor of repositores" selected>{{repositor.nombre}}</option>
          </select>
        </td>
      </tr>
    </table>
    <div class="button-container">
      <button class="buscar" (click)="buscar()">Buscar</button>
      <button class="cancelar" (click)="cancelar()">Cancelar</button>
    </div>
  </div>
  <div class="search-results">
    <app-search-results-table *ngIf="mostrarResultados" [productos]="productos"/>
  </div>
</body>
